<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.csc625.checkin">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/checkin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/checkin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.BaseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.LogoutActivity"
            android:label="Logout"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ChooseStudentActivity"
            android:label="@string/menu_choose_student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateStudentActivity"
            android:label="@string/title_create_student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewStudentActivity"
            android:label="@string/title_choose_student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>